# node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env secrets
.env
.env.local
.env.*.local

# build artefacts
dist/
build/
.vite/
.parcel-cache/
coverage/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# logs
logs/
*.log

# docker volumes locaux éventuels (en principe docker les garde ailleurs)
docker-data/

# livrables générés
DL1_*.pdf
DL2_*.zip
db/dump.sql

# cache tests e2e
selenium-debug.log
screenshots/
